{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">User List</h1>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
            
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role_id }}</td>
                <td>
                    <button class="btn btn-primary">
                        Modifer
                    </button>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}
