{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Liste Des Utilisateurs</h1>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Role</th>
            <th>
                <button class="btn btn-info w-100">Ajouter</button>
            </th>
            
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role_id }}</td>
                <td class="d-flex justify-content-evenly">
                    <button class="btn btn-primary">
                        Modifer
                    </button>
                    <button class="btn btn-danger">
                        Supprimer
                    </button>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</div>

<nav aria-label="Pagination">
  <ul class="pagination">
    {% if pagination.has_prev %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('users_bp.list_users', page=pagination.prev_num) }}">« Prev</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">« Prev</span></li>
    {% endif %}

    {% for p in pagination.iter_pages() %}
      {% if p %}
        <li class="page-item {% if p == pagination.page %}active{% endif %}">
          <a class="page-link" href="{{ url_for('users_bp.list_users', page=p) }}">{{ p }}</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">…</span></li>
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('users_bp.list_users', page=pagination.next_num) }}">Next »</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next »</span></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
